<%= form_for [@group, @membership] do |f| %>
  <%= f.text_field :user_id, 'Username or email' %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#membership_user_id').autocomplete({
          source: <%= @user_autocomplete.collect(&:email).to_s.html_safe %>  
        });    
    });
  </script>

  <%= f.toggles 'Roles in group' do %>
    <%= f.check_box :is_admin, 'Admin' %></li>
  <% end %>

  <%= f.hidden_field :group_id, :value => @group.id %>

  <div class="clearfix">
    <div class="input">
      <%= f.submit "Add user" %>
    </div>
  </div>

<% end %>
