<%= form_for [@group, @membership] do |f| %>

  <div class="clearfix">
    <%= f.text_field :user_id, :class => 'xlarge', :placeholder => 'Username or email' %>
    <%= f.check_box :is_admin %><%= f.label :is_admin, 'Admin' %>
    <%= f.check_box :is_editor %><%= f.label :is_editor, 'Editor' %>
    <%= f.check_box :is_participant %><%= f.label :is_participant, 'Participant' %>
    <%= f.submit "Add user" %>
  </div>

<% end %>
