<div class="page-header">
  <h1>Manage Users for <%= @group %></h1>
</div>

<table id="group-memberships" class="zebra-striped">
  <% @memberships.each do |membership| %>
    <tr>
      <td><%= membership.user %> (<%= membership.email %>)</td>
      <td><%= 'Admin' if membership.is_admin? %></td>
      <td>
        <% if can? :destroy, membership %>
          <%= link_to 'Remove', membership, :confirm => "Are you sure you want to remove #{membership.user} from #{@group}?", :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% @group.invitations.each do |invitation| %>
    <tr class="invitation">
      <td><%= invitation %> (Pending)</td>
      <td></td>
      <td>
        <% if can? :destroy, @group %>
          <%= link_to 'Cancel invitation', invitation, :confirm => "Are you sure you want to cancel this invitation?", :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3"><%= render 'form' %></td>
  <tr>
</table>

<p><%= link_to "&larr; Back to #{@group}".html_safe, @group %></p>
