<div class="page-header">
  <h1>Your Account</h1>
</div>

<ul class="tabs">
  <li class="first"><%= link_to 'Account Info', edit_user_registration_path %></li>
  <li class="active last"><%= link_to 'Third-Party Services', authentications_path %></li>
</ul>

<% if !@authentications.empty? %>
  <% unless @authentications.empty? %>
    <h3>You can sign in to this account using:</h3>
    <div id="my-authentications" class="row">
      <% @authentications.each do |authentication| %>
        <div class="span4">
          <%= link_to "x", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "close" %>
          <div class="pull-left">
            <%= image_tag "services/#{authentication.provider}_64.png", :size => '64x64' %>
          </div>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <span class="help-block"><%= authentication.uid %></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <h3>Add another service to sign in with:</h3>
<% else %>
  <h3>Sign in through one of these services:</h3>
<% end %>

<div class="well">
  <%= render 'providers', :providers => @providers %>
</div>
