<div class="clearfix<%= ' error' if @group.errors.on(:name) %>">
  <%= f.label :name %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
    <%= render 'shared/form_errors', :object => @group, :attribute => :name %>
    <span class="help-block">Ex: Home, Office, etc.</span>
  </div>
</div>
        
<div class="actions">
  <button class="btn primary" type="submit"><%= f.object.new_record? ? "Create group" : "Save" %></button>
	<%= link_to "Cancel", @group, :class => "btn" %>
</div>
