<% content_for :page_title, "Edit #{@group}" %>

<ul class="tabs">
  <li class="first"><%= link_to "Your Groups", groups_path  %></li>
  <li><%= link_to "New Group", new_group_path %></li>
  <li class="active"><%= link_to "Edit #{@group}", edit_group_path %></li>
</ul>

<div class="page-header">            
  <h1><%= t("web-app-theme.edit", :default => "Edit") %> <%= @group %></h1>
</div>

<%= form_for @group, :url => group_path(@group), :html => { :class => :form } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>
