<% content_for :page_title, @group %>

<div class="page-header">
  <% if in_current_week?(@week) %>
    <h1><%= @group %> for this week</h1>
  <% else %>
    <h1><%= @group %> for the week of <%= format_date(@week.to_time) %></h1>
  <% end %>
</div>

<div class="pagination pull-left">
  <ul>
    <li class="previous-week prev"><%= link_to '« Previous week', group_path(@group, :week => @week.advance(:weeks => -1)), :class => 'prev' %></li>
    <li class="this-week<%= ' disabled' if in_current_week?(@week) %>"><%= link_to 'This week', group_path(@group) %></li>
    <li class="next-week next"><%= link_to 'Next week »', group_path(@group, :week => @week.next_week), :class => 'next' %></li>
  </ul>
</div>

<%= render 'actions', :group => @group, :week => @week %>

<table id="chore-breakdown" class="zebra-striped">
  <thead>
    <tr>
      <th></th>
      <% @group.users.each do |user| %>
        <th>
          <div class="user-thumb pull-left"><%= avatar_image(user, 32) %></div>
          <div class="user-name"><%= user == current_user ? 'You' : user %></div>
          <div class="user-points"><small>Workload: <%= @group.workload(user, @week) %></small></div>
        </th>
      <% end %>
    </tr>
  <thead>
  <tbody>
    <% (@week..@week.end_of_week).each do |date| %>
      <tr<%= ' class="today"' if Date.today == date %>>
        <td><%= format_date(date.to_time, :style => :medium) %></td>
        <% @group.users.each do |user| %>
          <td>
            <ul>
            <% @chores.select { |a| a.user == user && a.date == date }.each do |assignment| %> 
              <li><%= assignment.chore %></li>
            <% end %>
            </ul>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
