<!-- "Today in..." pane -->
<div class="page-header">
  <h2>Today in...</h2>
</div>

<div class="row">
  <% @user.groups.each do |group| %>
    <div class="span4">
      <table class="table table-striped table-bordered">
        <thead>
          <tr><th colspan="2" scope="col"><%= group %></th></tr>
        </thead>
        <tbody>
          <% grouped_assignments = group.assignments_for.group_by(&:user) %>
          <!-- Don't forget users that have no assignments for the day -->
          <% group.users.select { |u| !grouped_assignments.has_key?(u) }.each do |empty_user| %>
            <% grouped_assignments[empty_user] = [] %>
          <% end %>
          <% grouped_assignments.each do |user, assignments| %>
            <tr class="<%= cycle('odd', 'even', :name => 'rows') %>">
              <th scope="row">
                <div class="user-name"><%= user == @user ? 'You' : user %></div>
                <div class="user-thumb"><%= avatar_image(user, 24) %></div>
              </th>
              <td>
                <% if assignments.empty? %>
                  <em>None</em>
                <% else %>
                <ul>
                  <% assignments.each do |assignment| %>
                    <li><%= assignment.chore %></li>
                  <% end %>
                </ul>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to "This week in #{group} &rarr;".html_safe, group %></p>
    </div>
  <% end %>

  <% if @user.groups.empty? %>
    <div class="span12">
      <p>You currently have no groups. <%= link_to 'Create a new group', new_group_path, :class => 'btn primary' %></p>
    </div>
  <% end %>
</div>
