<div class="page-header">
  <h1>Your Account</h1>
</div>

<ul class="tabs">
  <li class="first active"><%= link_to 'Account Info', edit_user_registration_path %></li>
  <li><%= link_to 'Third-Party Services', authentications_path %></li>
</ul>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.email_field :email, :class => 'xlarge' %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, :class => 'xlarge' %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password, :class => 'xlarge' %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
      <%= f.password_field :password_confirmation, :class => 'xlarge' %>
    </div>
  </div>

  <div class="clearfix">
    <%= label_tag 'Image' %>
    <div class="input">
      <%= avatar_image resource %><br />
      <a class="external" href="http://gravatar.com/emails">Click here to change your Gravatar</a>
    </div>
  </div>

  <div class="well">
    <%= f.submit "Update", :class => 'btn primary' %>
    <%= link_to "Cancel", :back, :class => 'btn' %>
    <%= link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure you want to delete your account? All of your data will be lost.", :method => :delete, :class => 'btn danger pull-right' %>
  </div>
<% end %>

