<div class="page-header">
  <h1>Your Account</h1>
</div>

<ul class="nav nav-tabs">
  <li class="first active"><%= link_to 'Account Info', edit_user_registration_path %></li>
  <li><%= link_to 'Linked Accounts', authentications_path %></li>
</ul>
<div style="clear: both;"></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.email_field :email %>
  <%= f.text_field :name %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.time_zone_select :time_zone, 'Time zone', ActiveSupport::TimeZone.us_zones %>

  <div class="clearfix">
    <%= label_tag 'Image' %>
    <div class="input">
      <%= avatar_image resource %><br />
      <div class="help-block">
        <a class="external" href="http://gravatar.com/emails">Click here to change your Gravatar</a>
      </div>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.submit "Update" %>
    <%= link_to "Cancel", :back, :class => 'btn' %>
    <%= link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure you want to delete your account? All of your data will be lost.", :method => :delete, :class => 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

