<ul class="tabs">
  <li class="first"><%= link_to 'Log in', new_user_session_path %></li>
  <li class="last active"><%= link_to 'Register', new_user_registration_path %></li>
</ul>

<div class="page-header">
  <% if session[:omniauth] %>
    <h1>Almost there&hellip;</h1>
  <% else %>
    <h1>Create an Account&hellip;</h1>
  <% end %>
</div>

<div class="row">
  <div class="span<%= @omniauth ? '16' : '8' %>">
    <%= '<h2>you luddite</h2>'.html_safe if !session[:omniauth] %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="clearfix">
        <%= f.label :username %>
        <div class="input">
          <%= f.text_field :username, :class => 'xlarge' %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label :email %>
        <div class="input">
          <%= f.email_field :email, :class => 'xlarge' %>
        </div>
      </div>

      <% if @user.password_required? %>
        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password, :class => 'xlarge' %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation, :class => 'xlarge' %>
          </div>
        </div>
      <% end %>

      <%= f.hidden_field :name %>
      
      <div class="actions">
        <%= f.submit "Register", :class => 'btn primary' %>
        <%= render :partial => "devise/shared/links" %>
      </div>
    <% end %>
  </div>

  <% unless @omniauth %>
    <div class="span8">
      <h2>you social butterfly</h2>
      <%= render 'authentications/providers' %>
    </div>
  <% end %>
</div>

      

