<!DOCTYPE html>
<html>
<head>
  <% if content_for? :page_title %>
    <title><%= yield :page_title %> | Chorechart</title>
  <% else %>
    <title>Chorechart</title>
  <% end %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <% if content_for? :page_head %>
    <%= yield :page_head %>
  <% end %>
</head>
<body>
