<% if user_signed_in? %>
  <div class="user-image">
    <%= avatar_image(current_user, 40) %>
  </div>
  <ul class="user-menu">
    <li><%= current_user.username %></li>
    <li><%= link_to "My Groups", groups_path %></li>
    <li><%= link_to "My Account", edit_user_registration_path %></li>
    <li><%= link_to "Logout", destroy_user_session_path %></li>
  </ul>
<% else %>
  <ul class="no-user-menu">
    <li><%= link_to "Log in", new_user_session_path %></li>
    <li><%= link_to "Register", new_user_registration_path %></li>
  </ul>
<% end %>

