<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", group_chores_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_group_chore_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Chores for <%= @group.name %></h2>
    <div class="inner">
      <% if @chores.empty? %>
        <p>This group has no chores. <%= link_to "Add a new chore", new_group_chore_path(@group) %>.</p>
      <% else %>
        <table class="table">
          <tr>
            <th></th>
            <th>Repeats</th>
            <th>Next Occurrence</th>
            <th></th>
          </tr>
          <% @chores.each do |chore| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= chore.name %>
            </td>
            <td>
              <%= chore.schedule.to_s %>
            </td>
            <td>
              <%= fuzzy_date(chore.schedule.next_occurrence) %>
            </td>
            <td class="last">
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_chore_path(chore) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", chore_path(chore), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
          </tr>          
          <% end -%>
        </table>
      <% end %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
