<%= f.text_field :name, :help => 'Ex: Laundry' %>

<div class="control-group">
  <%= f.label :difficulty, :class => 'control-label' %>
  <div class="input controls">
    <div id="difficulty-slider" class="input-xlarge"></div>
    <div id="difficulty-text"></div>
    <span class="help-block">Difficulty can correspond to the length of time a chore takes or the undesirability/inconvenience of a chore. This ensures that, when chores are being assigned, "Feeding the cats" does not bear the same weight as "Cleaning the toilet", for instance.</span>
    <%= f.hidden_field :difficulty %>
  </div>
</div>

<%= f.inputs 'Schedule' do %>
  <%= f.fields_for :schedule_attributes, f.object.schedule_attributes do |schedule| %>
    <%= schedule.hidden_field :repeat, :value => 1 %>
    <%= schedule.inline 'Every' do |inline| %>
      <%= inline.number_field :interval, :min => 1, :class => 'mini' %>
      <%= inline.select :interval_unit, interval_select(f.object.schedule_attributes.interval_unit) %>
    <% end %>
    <table id="day-selection" class="table table-condensed table-bordered">
      <thead>
        <tr>
          <% Date::DAYNAMES.each do |day| %>
            <th><%= day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% Date::DAYNAMES.each do |day| %>
            <td><%= schedule.check_box day.downcase.to_sym %></td>
          <% end %>
        </tr>
      </tbody>
      <caption>If no days are selected, today's day will be assumed.</caption>
    </table>
  <% end %>
<% end %>

<%= f.hidden_field :group_id, :value => f.object.group.id %>

<%= f.actions do %>
  <%= f.submit f.object.new_record? ? 'Create chore' : 'Save' %>
  <%= link_to "Cancel", group_chores_path(f.object.group), :class => "btn" %>
<% end %>
