<%= f.text_field :name, :help => 'Ex: Laundry' %>

<div class="clearfix">
  <%= f.label :difficulty %>
  <div class="input">
    <div id="difficulty-slider" class="input-xlarge"></div>
    <div id="difficulty-text"></div>
    <span class="help-block">Difficulty can correspond to the length of time a chore takes or the undesirability/inconvenience of a chore. This ensures that, when chores are being assigned, "Feeding the cats" does not bear the same weight as "Cleaning the toilet", for instance.</span>
    <%= f.hidden_field :difficulty %>
  </div>
</div>

<%= f.inputs 'Schedule' do %>
  <%= f.fields_for :schedule_attributes, @chore.schedule_attributes do |schedule| %>
    <%= schedule.hidden_field :repeat, :value => 1 %>
    <div class="clearfix">
      <label>Every</label>
      <div class="input"><div class="inline-inputs">
        <%= schedule.number_field :interval, :min => 1, :class => 'mini', :skip => true %> 
        <%= schedule.select :interval_unit, options_for_select([['day(s)', 'day'], ['week(s)', 'week']], @chore.schedule_attributes.interval_unit), { :skip => true } %>
      </div></div>
    </div>
    <%= f.toggles 'On', :id => 'day-selection' do %>
      <% Date::DAYNAMES.map { |d| d.downcase.to_sym }.each do |day| %>
        <%= schedule.check_box day, day.capitalize.to_s %>
      <% end %>
      <span class="help-block">If no days are checked, today's day will be assumed.</span>
    <% end %>
  <% end %>
<% end %>

<%= f.hidden_field :group_id, :value => @chore.group.id %>

<%= f.actions do %>
  <%= f.submit f.object.new_record? ? 'Create chore' : 'Save' %>
	<%= link_to "Cancel", group_chores_path(@chore.group), :class => "btn" %>
<% end %>
