<div class="clearfix">
  <%= f.label :name %>
  <div class="input">
    <%= f.text_field :name, :class => 'xlarge' %>
    <span class="help-block">Ex: Laundry</span>
  </div>
</div>

<div class="clearfix">
  <%= f.label :difficulty %>
  <div class="input">
    <div id="difficulty-slider" class="input-xlarge"></div>
    <div id="difficulty-text"></div>
    <span class="help-block">Difficulty can correspond to the length of time a chore takes or the undesirability/inconvenience of a chore. This ensures that, when chores are being assigned, "Feeding the cats" does not bear the same weight as "Cleaning the toilet", for instance.</span>
    <%= f.hidden_field :difficulty %>
  </div>
</div>

<%= field_set_tag 'Schedule' do %>
  <%= f.fields_for :schedule_attributes, @chore.schedule_attributes do |schedule| %>
    <%= schedule.hidden_field :repeat, :value => 1 %>
    <div class="clearfix">
      <label>Every</label>
      <div class="input">
        <%= schedule.number_field :interval, :min => 1, :class => 'mini' %> 
        <%= schedule.select :interval_unit, options_for_select([['day(s)', 'day'], ['week(s)', 'week']], @chore.schedule_attributes.interval_unit) %>
      </div>
    </div>
    <div id="day-selection" class="clearfix">
      <label>On</label>
      <div class="input">
        <ul class="inputs-list">
          <% Date::DAYNAMES.each do |day| %>
            <li>
              <%= schedule.check_box day.downcase.to_sym %>
              <%= schedule.label day.downcase.to_sym %>
            </li>
          <% end %>
        </ul>
        <span class="help-block">If no days are checked, today's day will be assumed.</span>
      </div>
    </div>
    </p>
  <% end %>
<% end %>

<div class="actions">
  <button class="btn primary" type="submit">Save</button>
	<%= link_to "Cancel", group_chores_path(@chore.group), :class => "btn" %>
</div>
