<ul class="tabs">
  <li class="first"><%= link_to "Chores for #{@chore.group}", group_chores_path(@chore.group)  %></li>
  <li><%= link_to "New Chore", new_group_chore_path(@chore.group) %></li>
  <li class="active"><%= link_to "Edit #{@chore}", edit_chore_path %></li>
</ul>

<div class="page-header">
  <h1 class="title">Edit <%= @chore %></h1>
</div>

<%= form_for @chore, :url => chore_path(@chore), :html => { :class => :form } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>
