<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Chores for #{@chore.group}", group_chores_path(@chore.group)  %></li>
      <li><%= link_to "New Chore", new_group_chore_path(@chore.group) %></li>
      <li class="active"><%= link_to "Edit #{@chore}", edit_chore_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.edit", :default => "Edit") %> Chore</h2>
    <div class="inner">
      <%= form_for @chore, :url => chore_path(@chore), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
