<% content_for :page_title, "Chores for #{@group}" %>

<div class="page-header">
  <h1 class="pull-left">Chores for <%= @group %></h1>
  <div class="pull-right">
    <%= link_to 'Create a chore', new_group_chore_path(@group), :class => 'btn btn-primary' %>
  </div>
  <div class="clearer"></div>
</div>

<% if @chores.empty? %>
  <p>This group has no chores. <%= link_to "Add a new chore", new_group_chore_path(@group) %>.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Difficulty</th>
        <th scope="col">Repeats</th>
        <th scope="col">Next Occurrence</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @chores.each do |chore| -%>
      <tr>
        <td><%= chore %></td>
        <td><%= chore.difficulty_in_words %></td>
        <td><%= chore.schedule.to_s %></td>
        <td><%= fuzzy_date(chore.schedule.next_occurrence) %></td>
        <td class="last">
          <%= link_to "Edit", edit_chore_path(chore) %> |
          <%= link_to "Delete", chore_path(chore), :method => :delete, :confirm => "Are you sure you want to delete this chore?" %>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
<% end %>

<p><%= link_to "&larr; Back to #{@group}".html_safe, @group %></p>

