<% content_for :page_title, "Chores for #{@group}" %>

<ul class="tabs">
  <li class="first active"><%= link_to "Chores for #{@group}", group_chores_path  %></li>
  <li><%= link_to "New Chore", new_group_chore_path %></li>
</ul>

<div class="page-header">          
  <h1>Chores for <%= @group %></h1>
</div>

<% if @chores.empty? %>
  <p>This group has no chores. <%= link_to "Add a new chore", new_group_chore_path(@group) %>.</p>
<% else %>
  <table class="zebra-striped">
    <thead>
      <tr>
        <th></th>
        <th>Difficulty</th>
        <th>Repeats</th>
        <th>Next Occurrence</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @chores.each do |chore| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <td>
          <%= chore %>
        </td>
        <td>
          <%= ChoresHelper::DIFFICULTY[chore.difficulty] %>
        </td>
        <td>
          <%= chore.schedule.to_s %>
        </td>
        <td>
          <%= fuzzy_date(chore.schedule.next_occurrence) %>
        </td>
        <td class="last">
          <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_chore_path(chore) %> |
          <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", chore_path(chore), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </td>
      </tr>          
      <% end -%>
    </tbody>
  </table>
<% end %>

<p><%= link_to "&larr; Back to Your Groups".html_safe, groups_path %></p>
