<%= render 'shared/header' %>
<%= render 'shared/topbar' %>

<div id="wrapper" class="container">
  <div class="row">
    <div id="main" class="span12">
      <% unless flash.empty? %>
        <div id="flash">
          <%= render 'shared/flash', :flash => flash %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div id="sidebar" class="span4">
      <%= yield :sidebar %>
      <% if user_signed_in? %>
        <%= render 'shared/user_chores', :chores => @user_chores %>
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>

<%= render 'shared/closure' %>
