<!DOCTYPE html>
<html>
<head>
  <title>Chorechart</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <header>
    <h1>Chorechart</h1>
    <% if user_signed_in? %>
      <div id="group-selector">
        <%= render 'shared/group_selector' %>
      </div>
    <% end %>
    <div id="user-info">
      <%= render 'shared/user_info' %>
    </div>
  </header>

  <section id="container">
    <% if notice || alert %>
     <div id="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>
  </section>

</body>
</html>
